@import "./././sass/abstracts/variables-et-mixins";

.actualites {
	@include bleed-ohm;
	--margin-v:4px;

	margin-bottom: 2.4rem;

	.intro {
		padding:0 calc(var(--padding-x) + 0.8rem) 2.4rem;
	}
	.titre-section {
		font-family: var(--font-texte);
		font-size: var(--wp--custom--typography--font-size--huge);
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: var(--margin-v);
		text-transform: unset;
	}
	.sous-titre {
		font-size: 1.6rem;
		font-weight: 700;
		margin-bottom: var(--margin-v);
	}
	.texte {
		font-size: 1.4rem;
		margin-bottom: 0;
	}

	.actus {
		background-color: var(--wp--preset--color--citron-main);
		padding:4rem 0 2.4rem;
		padding-left:calc(var(--padding-x) + 1.6rem);

	}

	/*
	.plus-wrap {
		display: flex;
		justify-content: flex-end;
		padding-right: var(--padding-x);
	}*/

	@include bp(sm) {
		.actus {
			padding-right: calc(var(--padding-x) + 1.6rem);
		}
		.loop {
			--largeur-vignette:1fr;
		}
	}

	@include bp(lg) {
		align-items: center;
		background-color: var(--wp--preset--color--citron-main);
		display: grid;
		column-gap:2rem;
		grid-template-columns: 1fr 2fr;
		margin-top: -4rem;
		padding:4rem var(--padding-x);
		.intro, .actus {
			padding:0;
		}
		.loop-slider {
			margin: 0;
			padding:0;
		}
		
		.loop {
			--nb-col:2;
			--gap:1rem;
		}
	}

	@include bp(xl) {
		column-gap:4rem;
		padding:8rem var(--padding-x);

	}
} 