.actualites {
  width: calc(100% + 2 * var(--padding-x));
  transform: translateX(calc(-1 * var(--padding-x)));
  --margin-v:4px;
  margin-bottom: 2.4rem;
  /*
  .plus-wrap {
  	display: flex;
  	justify-content: flex-end;
  	padding-right: var(--padding-x);
  }*/
  /**************Variante du bloc******************/
}
.actualites.temp-hidden {
  display: none;
}
.actualites .intro {
  padding: 0 calc(var(--padding-x) + 0.8rem) 2.4rem;
}
.actualites .titre-section {
  font-family: var(--font-texte);
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: var(--margin-v);
  text-transform: unset;
}
@supports (font-size: clamp(1rem, 1vw, 2rem)) {
  .actualites .titre-section {
    font-size: var(--wp--custom--typography--font-size--huge);
  }
}
.actualites .sous-titre {
  font-size: 1.6rem;
  font-weight: 700;
  margin-bottom: var(--margin-v);
}
.actualites .texte {
  font-size: 1.4rem;
  margin-bottom: 0;
}
.actualites .actus {
  background-color: var(--wp--preset--color--citron-main);
  padding: 4rem 0 2.4rem;
  padding-left: calc(var(--padding-x) + 1.6rem);
}
@media (min-width: 500px) {
  .actualites .actus {
    padding-right: calc(var(--padding-x) + 1.6rem);
  }
  .actualites .loop {
    --largeur-vignette:1fr;
  }
  .actualites .post-summary {
    box-shadow: none;
  }
}
@media (min-width: 960px) {
  .actualites {
    align-items: center;
    background-color: var(--wp--preset--color--citron-main);
    display: grid;
    column-gap: 2rem;
    grid-template-columns: 1fr 2fr;
    margin-top: -4rem;
    padding: 4rem var(--padding-x);
  }
  .actualites .intro, .actualites .actus {
    padding: 0;
  }
  .actualites .loop-slider {
    margin: 0;
    padding: 0;
  }
  .actualites .loop {
    --nb-col:2;
    --gap:1rem;
    --ratio:0.95;
  }
  .actualites .post-summary__title {
    font-size: 2.4rem;
  }
}
@media (min-width: 1440px) {
  .actualites {
    column-gap: 4rem;
    padding: 8rem var(--padding-x);
  }
}
.actualites.layout-2 {
  margin-bottom: 0;
}
.actualites.layout-2.temp-hidden {
  display: none;
}
.actualites.layout-2 .intro .texte {
  border-bottom: solid 6px var(--wp--preset--color--jaune-400);
  padding-bottom: 4rem;
}
.actualites.layout-2 .actus {
  background-color: transparent;
}
.actualites.layout-2 .loop {
  --nb-col:3;
}
.actualites.layout-2 .post-summary {
  border-radius: 0;
  box-shadow: none;
}
.actualites.layout-2 .post-summary img {
  border-radius: 16px;
}
.actualites.layout-2 .post-summary a.suite {
  justify-content: center;
  text-decoration: underline;
}
@media (min-width: 500px) {
  .actualites.layout-2 .loop {
    --ratio: 1.45;
    --largeur-vignette:25rem;
  }
}
@media (min-width: 768px) {
  .actualites.layout-2 .intro .texte {
    border-bottom: none;
  }
  .actualites.layout-2 .actus {
    padding: 3.2rem var(--padding-x) 0;
    position: relative;
  }
  .actualites.layout-2 .actus::before {
    background: var(--wp--preset--color--jaune-main);
    content: "";
    display: block;
    height: 6px;
    left: var(--padding-x);
    position: absolute;
    top: 0;
    width: 20rem;
  }
  .actualites.layout-2 .loop {
    --largeur-vignette:1fr;
  }
  .actualites.layout-2 .post-summary a.suite {
    justify-content: flex-start;
  }
}
@media (min-width: 960px) {
  .actualites.layout-2 {
    background: transparent;
    display: block;
    padding-bottom: 0;
    padding-left: var(--padding-x-single);
    padding-right: var(--padding-x-single);
  }
  .actualites.layout-2 .actus {
    padding: 3.2rem 0 4rem;
  }
  .actualites.layout-2 .actus::before {
    left: 0;
  }
}