@import "./././sass/abstracts/variables-et-mixins";

.actualites {
	&.temp-hidden {
		display: none;
	}
	@include bleed-ohm;
	--margin-v:4px;

	margin-bottom: 2.4rem;

	.intro {
		padding:0 calc(var(--padding-x) + 0.8rem) 2.4rem;
	}
	.titre-section {
		font-family: var(--font-texte);
		font-size: 2.4rem;
		@supports(font-size: clamp(1rem,1vw,2rem)) {
			font-size: var(--wp--custom--typography--font-size--huge);
		}
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: var(--margin-v);
		text-transform: unset;
	}
	.sous-titre {
		font-size: 1.6rem;
		font-weight: 700;
		margin-bottom: var(--margin-v);
	}
	.texte {
		font-size: 1.4rem;
		margin-bottom: 0;
	}

	.actus {
		background-color: var(--wp--preset--color--citron-main);
		padding:4rem 0 2.4rem;
		padding-left:calc(var(--padding-x) + 1.6rem);

	}

	
	.plus-wrap {
		display: flex;
		justify-content: flex-end;
		margin-top: 4rem;
	}

	@include bp(sm) {
		.actus {
			padding-right: calc(var(--padding-x) + 1.6rem);
		}
		.loop {
			--largeur-vignette:1fr;
		}

		.post-summary {
			box-shadow: none;
		}
	}

	@include bp(lg) {
		align-items: center;
		background-color: var(--wp--preset--color--citron-main);
		display: grid;
		column-gap:2rem;
		grid-template-columns: 1fr 2fr;
		margin-top: -4rem;
		padding:4rem var(--padding-x);
		.intro, .actus {
			padding:0;
		}
		.loop-slider {
			margin: 0;
			padding:0;
		}
		
		.loop {
			--nb-col:2;
			--gap:1rem;
			--ratio:0.95;
		}

		.post-summary__title {
			font-size: 2.4rem;
		}
	}

	@include bp(xl) {
		column-gap:4rem;
		padding:8rem var(--padding-x);

	}


	/**************Variante du bloc******************/
	&.layout-2 {
		&.temp-hidden {
			display: none;
		}
		margin-bottom: 0;
		.intro .texte {
			border-bottom:solid 6px var(--wp--preset--color--jaune-400);
			padding-bottom: 4rem;
		}

		.actus {
			background-color: transparent;
		}


		.loop {
			--nb-col:3;
		}

		.post-summary {
			border-radius: 0;
			box-shadow: none;

			img {
				border-radius: 16px;
			}

			a.suite {
				justify-content: center;
				text-decoration: underline;
			}
		}

		@include bp(sm) {
			.loop {
				--ratio : 1.45;
				--largeur-vignette:25rem;
			}
		}

		@include bp(md) {
			.intro .texte {
				border-bottom:none;
			}
			.actus {
				padding: 3.2rem var(--padding-x) 0;
				position: relative;
				&::before {
					background: var(--wp--preset--color--jaune-main);
					content:'';
					display: block;
					height:6px;
					left:var(--padding-x);
					position: absolute;
					top:0;
					width:20rem;
				}
			}
			.loop {
				--largeur-vignette:1fr;
			}

			.post-summary a.suite {
				justify-content: flex-start;
			}
		}
		@include bp(lg) {
			background: transparent;
			display: block;
			padding-bottom: 0;
			padding-left:var(--padding-x-single);
			padding-right:var(--padding-x-single);
			.actus {
				padding: 3.2rem 0 4rem;
				&::before {
					left:0;
				}
			}
		}
	}


} 