.pagination {
	align-items: center;
	display: flex;
	justify-content: center;
	list-style:none;
	padding:0 var(--padding-x);
	margin:var(--margin-y-1) 0;

	li {
		&::after {
			color:var(--wp--preset--color--primaire);
			content: '-';
			display: inline-block;
			@include fs(20);
			font-weight: 700;
		}
		&:last-of-type::after {
			display: none;
		}
	}
	a.page {
		@include fs(20);
		color:var(--wp--preset--color--primaire);
		font-weight: 700;
		margin:0 0.5rem;
		padding:0.5rem;
		text-decoration: none;
		&:hover, &:focus {
			text-decoration: underline;
		}
		
	}

	li.active a {
		text-decoration: underline;
	}

	li.disabled a {
		cursor: default;
		&:hover, &:focus {
			border-color:transparent;
			color:var(--bleu);
		}
	}
}
