//Vignette article pour pages archives (y compris recherche)
.post-summary {
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 5px 6px 10px rgba(120, 107, 78, 0.2);
	display: flex;
	flex-direction: column;
	//max-width:32rem;
	overflow: hidden;
	position:relative;
	width:100%;

	.post-summary__content {
		padding:0 1.6rem 1.6rem
	}
	
	.post-summary__title {
		margin-bottom: var(--margin-v);
		text-transform: unset;
	}
	.entry-date {
		font-weight: 700;
		margin-bottom: var(--margin-v);
	}

	.extrait {
		margin-bottom: 1.8rem;
	}
	a.suite {
		align-items: center;
		display: flex;
		font-size: 1.6rem;
		justify-content: flex-end;
		text-decoration: none;
	}
}


.post-summary__title {
	font-size: 1.6rem;
	line-height: 1.2;
	margin-bottom: 0;
	a {
		text-decoration: none;
	}
} 
.post-summary__image {
	display: block;
	margin-bottom: 8px;
	img {
		aspect-ratio:var(--ratio); //défini dans .loop pour être modifiable plus facilement dans les différents blocs ACF
		display: block;
		width:100%;
	}


	@supports not (aspect-ratio: auto) { 
		height: 200px;
		img {
			height:100%;
		}
	}
}






@include bp(md) {
	.post-summary {
		flex-direction: column;
	}
	.post-summary__image {
		flex:unset;
		margin-right:unset;
	}
	.post-summary__content {
		flex-grow:1;
	}
}