.nav-social {
	width: 100%;
	--size: 3.2rem;
	--space: 3rem;

	@include bp(lg) {
		--size:4rem;
	}

	ul {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0;
		width: 100%;

		@include bp(lg) {}

		li a {
			background-color:var(--wp--preset--color--citron-main);
			background-image: url('icons/facebook.svg');
			border-radius: 100%;
			background-position: center;
			background-repeat: no-repeat;
			background-size: 25%;
			color: transparent;
			display: block;
			flex: 0 0 var(--size);
			height: var(--size);
			margin-right: var(--space);
			overflow: hidden;
			width: var(--size);

			&[href*="insta"] {
				background-image: url('icons/insta.svg');
				background-size: calc(100% * 11/32);
			}
			&[href*="soundcloud"] {
				background-image: url('icons/soundcloud.svg');
				background-size: calc(100% * 12/32);
			}
		}

		li:last-of-type a {
			margin-right: 0;
		}
	}
}