button,
input[type="button"],
input[type="reset"],
input[type="submit"],
a.bouton,
.wp-element-button,
.wp-block-button.is-style-outline > .wp-block-button__link,
.wp-block-button .wp-block-button__link.is-style-outline {
	@include bouton;
}

a.bouton,
.wp-element-button
{
	&::after {
		content:'>';
		content:'>' / '';
		display: inline-block;
		margin-left:1ch;
	}
	&.sans-fleche::after {
		display: none;
	}
}

.is-style-fill .wp-element-button, 
a.bouton.primaire,
button.primaire {
	background-color: var(--wp--preset--color--orange-main);
	border-color:var(--wp--preset--color--sand-900);
	box-shadow: 5px 4px 2px var(--wp--preset--color--orange-800);
	color: var(--wp--preset--color--blanc);
	font-size: 1.6rem;
	margin-bottom: 1em;

	&:focus, &:hover, &:active {
		border-color:var(--wp--preset--color--orange-50);
		outline-color:transparent;
	}

	&:active {
		box-shadow: 0px 2px 0px var(--wp--preset--color--orange-800);
	}

	&:disabled, &.disabled {
		box-shadow: none;
		color:var(--wp--preset--color--gray-400);
		cursor: default;
		background-color: var(--wp--preset--color--orange-200);
		border-color: var(--wp--preset--color--orange-200);
	}

	@include bp(lg) {
		box-shadow:  7px 7px 8px var(--wp--preset--color--orange-800);
		font-size: 2.4rem;
		&:active {
			box-shadow: 1px 4px 0px var(--wp--preset--color--orange-800);
		}
	}
}


.is-style-secondaire .wp-element-button, 
a.bouton.secondaire,
button.secondaire,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color:var(--wp--preset--color--citron-main);
	border:none;
	box-shadow: 4px 4px 2px rgba(253, 226, 56, 0.75);
	color:var(--wp--preset--color--gray-800);
	margin-bottom: 1em;

	&:focus, &:hover, &:active {
		background-color:var(--wp--preset--color--citron-200);
		outline-color:transparent;
	}

	&:active {
		box-shadow: 0px 2px 0px #FDE238;
	}

	&:disabled, &.disabled {
		background-color: var(--wp--preset--color--citron-main);
		box-shadow: none;
		color:var(--wp--preset--color--gray-400);
		cursor: default;
	}

	@include bp(lg) {
		box-shadow:   7px 7px 8px rgba(253, 226, 56, 0.75);
		&:active {
			box-shadow: 1px 4px 0px #FDE238;
		}
	}

	
}

.is-style-secondaire .wp-element-button, 
a.bouton.secondaire,
button.secondaire {
	display: flex;
	align-items: center;
	min-height: 2.4rem;
	@include bp(lg) {
		min-height: 5.2rem;
	}
}

input[type="button"],
input[type="reset"],
input[type="submit"] {
	padding:4px 8px 5px;
	@include bp(lg) {
		padding:4px 16px 7px;
	}
}
.wp-block-button.is-style-outline > .wp-block-button__link,
.wp-block-button .wp-block-button__link.is-style-outline {
	padding:1ch;
}

.is-style-outline .wp-element-button, 
a.bouton.outline,
button.outline,
.wp-block-button.is-style-outline > .wp-block-button__link:not(.has-text-color),
.wp-block-button .wp-block-button__link.is-style-outline:not(.has-text-color){
	--color:var(--wp--preset--color--sand-900);
	border-color:var(--color);
	border-radius: 100px;
	color:var(--color);

	&:focus, &:hover {
		--color:var(--wp--preset--color--jaune-800);
	}
	
	&:active {
		--color:var(--wp--preset--color--marron-main);
	}

	&:disabled, &.disabled {
		--color:var(--wp--preset--color--gray-400);
		cursor: default;
	}

}





input[type="submit"] {
	-webkit-appearance: none;
}