html {
	box-sizing: border-box;
	scroll-behavior:unset;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

hr {
	background-color: #ccc;
	border: 0;
	height: 1px;
	margin-bottom: 1.5em;
}

.entry-content ul:not([class]) {
	list-style: disc;
	padding-left: 1.2rem;
}
/*
ul:not([class]),
ol:not([class]) {
	margin: 0 0 1.5em 0;
	padding-left:1em;
}

ul:not([class])  {
	list-style: none;
	padding-left:1em;
	> li::before {
		content: '•'; 
		color: var(--bleu);
		display: inline-block; 
		width: 1em;
		margin-left: -1em		
	}
}

ol {
	list-style: decimal;
}

li>ul,
li>ol {
	margin-bottom: 0;
	margin-left: 1.5em;
}*/

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.5em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */

	&.emoji {
		width: 2ch;
		display: inline-block;
		position: relative;
		top: 3px;
	}
}

figure {
	margin: 1em 0;
	/* Extra wide images within figure tags don't overflow the content area. */
	figcaption {
		text-align: center;
	}
}

table {
	margin: 0 0 1.5em;
	width: 100%;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: solid 1px var(--wp--preset--color--noir);
	border: solid 1px var(--wp--preset--color--gray-900);
	border-radius: 100px;
	outline-color:var(--wp--preset--color--orange-main);
	min-height:2.8rem;
	padding: 3px;
	padding-left: 10px;
	
	&:focus {
		outline:solid 1px;
		outline-color:var(--wp--preset--color--secondaire);
	}
}

input[type="date"] {
	padding: 4px 16px;
}

textarea {
	width: 100%;
}

body .forminator-ui.forminator-custom-form[data-design="default"] {
	.forminator-input {
		border-radius: 100px;
		&:placeholder {
			color: #000000;
			opacity: 1;
		}
		&.forminator-datepicker {
			background-image: url('icons/calendrier.svg');
			background-repeat: no-repeat;
			background-position-x:calc(100% - 20px);
			background-position-y:center;
		}
	}
	.forminator-input-with-icon .forminator-datepicker {
		padding:9px;
		padding-right:51px;
	}
}
body .forminator-ui#forminator-module-305.forminator-design--default .forminator-input::placeholder,
body .forminator-ui#forminator-module-565.forminator-design--default .forminator-input::placeholder,
body .forminator-ui#forminator-module-565.forminator-design--default .forminator-textarea::placeholder {
	color: #000000;
	opacity: 1 !important;
}
body .forminator-ui.forminator-custom-form[data-design="default"] .forminator-textarea {
	border-radius: 16px;

}

.forminator-ui {
	label {
		@include screen-reader-text;
	}
	.select2-selection {
		border-radius: 100px;
	}
	.iti__flag-container {
		display: none;
	}
	textarea {
		border-radius: 16px;
	}
}
.forminator-select-dropdown {
	border-radius: 16px;
}


.forminator-row-last
{
	.forminator-field {
		display: flex;
		justify-content: flex-end;
	}

	
}
body .forminator-ui.forminator-custom-form[data-design="default"] .forminator-button-submit {
	background-color:var(--wp--preset--color--citron-main);
	border:none;
	border-radius: 8px;
	box-shadow: 4px 4px 2px rgba(253, 226, 56, 0.75);
	color:var(--wp--preset--color--gray-800);
	display: inline-flex;
	margin-bottom: 1em;
	width:unset;

	background-image: url('icons/envoi.svg');
	background-repeat: no-repeat;
	background-position-x:1.6rem;
	background-position-y:center;
	background-size: 1.6rem;

	padding:8px 8px 12px;
	padding-left: 4.2rem;

	@include bp(lg) {
		
	}

	&:focus, &:hover, &:active {
		background-color:var(--wp--preset--color--citron-200) !important;
		box-shadow: 4px 4px 2px rgba(253, 226, 56, 0.75);
		outline-color:transparent;
	}

	&:active {
		box-shadow: 0px 2px 0px #FDE238;
	}

	&:disabled, &.disabled {
		background-color: var(--wp--preset--color--citron-main);
		box-shadow: none;
		color:var(--wp--preset--color--gray-400);
		cursor: default;
	}

	@include bp(lg) {
		border-radius: 16px;
		box-shadow:  10px 9px 4px rgba(253, 226, 56, 0.75);
		font-size: 1.6rem;
		padding: 12px 12px 16px;
		padding-left: 4.2rem;
		&:focus, &:hover, &:active {
			box-shadow:  10px 9px 4px rgba(253, 226, 56, 0.75);
		}
		&:active {
			box-shadow: 1px 4px 0px #FDE238;
		}
	}
}

body .forminator-ui.forminator-custom-form[data-design="default"] .forminator-file-upload {
	flex-direction: column;
}
body .forminator-ui#forminator-module-565.forminator-design--default .forminator-button-upload {
	background-color: transparent;
	--color:var(--wp--preset--color--sand-900);
	border:solid 1px;
	border-color:var(--color);
	border-radius: 100px;
	color:var(--color);
	display: block;
	margin:0 auto 1rem;
	width:22rem;

	&:focus, &:hover {
		--color:var(--wp--preset--color--jaune-800);
		background-color: transparent;
		box-shadow: none;
		color:var(--color);
	}
	
	&:active {
		--color:var(--wp--preset--color--marron-main);
		background-color: transparent;
		box-shadow: none;
		color:var(--color);
	}

	&:disabled, &.disabled {
		--color:var(--wp--preset--color--gray-400);
		cursor: default;
		background-color: transparent;
		box-shadow: none;
		color:var(--color);
	}
}

.forminator-ui#forminator-module-565.forminator-design--default .upload
{
	background-color: var(--wp--preset--color--sand-50);
	border: 1px dashed #D18300;
	border-radius: 16px;
	margin: 0 15px;
	padding:1.6rem 2.4rem;
	text-align: center;
	label.forminator-label {
		border: 0;
		clip: unset;
		clip-path: unset;
		color:#000;
		font-size: 1.4rem;
		height: unset;
		margin: 0 0 1rem;
		overflow: unset;
		padding: 0;
		position: relative !important;
		width: unset;
		word-wrap: unset !important;
	}
	.forminator-description {
		color:#000;
		display: block;
	}
	span[data-empty-text] {
		color:#000;
	}
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}


/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 1.5em;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.wp-caption-text {
	text-align: center;
}

