/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
:root {
	--transition:0.45s ease-in-out;
}

a,
a:visited,
a:hover,
a:active,
a:focus {
	color:black;
	text-decoration: underline;
}

a:hover,
a:focus,
a:active {
	outline-color: transparent;
}
a:focus-visible {
	outline: medium dotted;
}


/*--------------------------------------------------------------
## Ancres
--------------------------------------------------------------*/
.avec-ancre {
	position: relative;
	.ancre {
		left:0;
		position:absolute;
		top:calc(-1px * var(--header-bottom));
	}
}


/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/

/*Logique pour afficher/masquer le volet de navigation*/ 

.volet-navigation {
	display: none; // tous les menus sont cachés en mobile
	.menu {
		display: flex;
		list-style: none;
		margin: 0;
		padding-left: 0;
	}
}

button.menu-toggle {
	display: block;
	height:4rem;
	padding:0;
	width:4rem;
	svg {
		height:100%;
		width:100%;
	}
	
	&:focus {
		outline-color: transparent;
	}
	svg.fermer-menu { //croix pour refermer le menu
		display:none;
		transform-origin: center;
		transform: scale(0.7);
	}
	//menu mobile ouvert
	&[aria-expanded=true] {
		svg.menu { //cacher hamburger 
			display:none;
		}
		svg.fermer-menu { // afficher croix
			display:block;
		}
	}
}

.volet-navigation.toggled { 
	display: block;
	left:0;
	height:calc(100vh - var(--header-height)); //magic number : hauteur du header sticky
	overflow-x:hidden;
	overflow-y:auto;
	padding: 0;
	position:absolute;
	top:100%;
	width:100%;
	z-index: 10;
}
@include bp(md) {

}
@include bp(lg) { 
	button.menu-toggle {
		display: none;
	}
	.volet-navigation {
		display:block;
		width: 100%;
	}
}


/* Style pictos menu mobile */

.menu-toggle {
	background:transparent;
	border:0;
	margin:0;
	min-width:unset;
	padding:0 1rem;
	&:hover, &:focus, &:active {
		background:transparent;
	}
	
}

/******************* Style VOLET NAVIGATION **************************/
.volet-navigation {
	background-color:var(--wp--preset--color--sand-main);
}
.inner-volet {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding-bottom:3rem;
	width: 100%;
	.nav-main {
		width:100%;
	}
	.nav-menu {
		display: flex;
		flex-direction: column;
		margin-bottom: 3.2rem;
		width: 100%;
		li {
			border-top:solid 2px var(--wp--preset--color--blanc);
			&:last-of-type {
				border-bottom:solid 2px var(--wp--preset--color--blanc);

			}
			&.current-menu-item , &.current-menu-ancestor {
				background-color: var(--wp--preset--color--secondaire);
				& > a {
					color:var(--wp--preset--color--blanc);
				}

				button.ouvrir-sous-menu svg path {
					fill:var(--wp--preset--color--blanc);
				}
			}
		}
		a {
			color:var(--wp--preset--color--blanc);
			font-size: 24px; //ios 13
			@supports(font-size: clamp(1rem,1vw,2rem)) {
				font-size: var(--wp--custom--typography--font-size--huge);
			}
			display: block;
			padding:1.6rem 3.2rem;
			text-align: center;
			text-decoration: none;
			text-transform: uppercase;
			&:focus-visible {
				outline-color:var(--wp--preset--color--orange-main);
				outline-offset: -5px;
			}
		}
	}

	a.resa {
		font-size: 2.4rem;
	}

	@include bp(lg) {
		a.resa {
			margin-bottom: 36px;
		}

		.nav-menu a {
			font-size: 3.2rem;
			text-align: left;
		}
	}



}