@font-face {
	font-family: 'Typewriter Condensed';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('fonts/typewcond_regular.woff') format('woff')
}

@font-face {
	font-family: 'Typewriter Condensed';
	font-style: normal;
	font-weight: 600;
	src: local(''),
		url('fonts/typewcond_demi.woff') format('woff')
}

@font-face {
	font-family: 'Typewriter Condensed';
	font-style: normal;
	font-weight: 700;
	src: local(''),
		url('fonts/typewcond_bold.woff') format('woff')
}

@font-face {
	font-family: 'Simple Handmade';
	font-style: normal;
	font-weight: 400;
	src: local(''),
		url('fonts/SimpleHandmade.woff') format('woff')
}

:root {
	--padding-lien: 7px 12px;
}


html {
	font-size: 62.5%;
	/* 1rem = 10px */
	--taille-texte: 1.5rem;
	--font-texte: "Typewriter Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	--font-titre: "Simple Handmade", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

//TODO Déplacer couleurs, tailles et graisses (et spacing ?) dans theme.json

body,
button,
input,
select,
optgroup,
textarea {
	color: var(--texte); 
	font-family:  "Typewriter Condensed", -apple-system, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-family: var(--font-texte);
	font-size: 1.5rem; //si les variables css ne sont pas supportées
	font-size: var(--taille-texte);
	font-weight: 400;
	line-height: 1.75;
	-webkit-font-smoothing: antialiased;
}

::selection {
	background: var(--wp--preset--color--secondaire);
	color: var(--wp--preset--color--blanc);
}

strong,
b {
	font-weight: 700;
}

em,
i {
	font-style: italic;
}


h1,
.h1,
h2,
h3,
h4,
.h2,
.h3,
.h4 {
	font-family: var(--font-titre);
	font-weight: 700;
	padding: 0;
}

h1,
.h1 {
	@include fs(35);
	line-height: 1.2;
	margin: 1em 0 0.5em;
	position: relative;
	text-decoration: underline;
	text-underline-offset:5px;
	text-transform: uppercase;

}

h2,
h3,
.h2,
.h3 {
	color: var(--wp--preset--color--primaire);
	margin: 0 0 0.5em;
}

h2,
.h2 {
	@include fs(24);
}

h3,
.h3 {
	@include fs(20);
}

h4,
.h4,
h5,
.h5,
h6,
.h6 {
	color:var(--texte);
}



p {
	margin-bottom: 1em;
	margin-top: 0;
}

dfn,
cite,
em,
i {
	font-style: italic;
}

blockquote {
	border-left: solid 5px var(--wp--preset--color--tertiaire);
	font-size: 1.2em;
	margin: 0 0 1em;
	padding: 5px 27px;

	cite {
		font-weight: 700;
	}
}

mark,
ins {
	background: var(--fond);
	text-decoration: none;
}

small,
.has-small-font-size {
	@include fs(12);
}

.has-regular-font-size {
	@include fs(15);
}

big,
.has-big-font-size {
	@include fs(25);
}

.has-huge-font-size {
	@include fs(35);
}


/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	@include screen-reader-text;
}

.screen-reader-text:focus {
	background-color: var(--fond);
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	clip-path: none;
	display: block;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

@media (prefers-reduced-motion: reduce) {
	* {
		animation-duration: 0s !important;
		transition-duration: 0s !important;
	}
}