/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/
.footer-blanc {
	.site-main {
		padding:0;
	}
	.site-footer {
		background-color: var(--wp--preset--color--blanc);
	}
}


.site-footer {
	background-color: var(--wp--preset--color--sand-50);

	color: var(--wp--preset--color--noir);
	padding: 1.6rem var(--padding-x) 2.8rem; 
	position: relative;

	max-width: 100vw;
	overflow: hidden;
	
	--largeur-logo:8rem;


	 strong {
		font-weight: 600;
	}
	.footer-top {
		display: flex;
		@media screen and (max-width:350px) {
			flex-wrap: wrap;
			.logo-footer {
				margin-bottom: 1rem;
			}
		}
	}

	.logo-footer {
		flex:0 1 var(--largeur-logo);
		margin-right: 2.4rem;
	}

	.main-footer {
		display: flex;
		flex-wrap: wrap;
		strong {
			font-size: 1.6rem;
		}
	}
	.horaires-wrap {
		flex-basis:100%;
		margin-top:2rem;
		margin-bottom: 2rem;
		overflow: auto;
		padding-bottom: 2rem;
		p {
			margin-bottom: 0.5em;
		}
		&:focus-visible, &:focus {
			outline: dashed 2px var(--wp--preset--color--orange-main);
			outline-offset: -2px;
		}
	}
	.horaires {
		display: flex;
	}
	.horaire {
		display: flex;
		flex: 0 0 9.5rem;
		flex-direction: column;
		strong, span {
			display: inline-block;
			text-align: center;
			width:100%;

		}
		span {
			border-left:solid 2px var(--wp--preset--color--sand-main);
			&.info {
				padding:1em 1ch;
				text-transform: uppercase;
			}
			&:first-of-type {
				padding-top: 0.5em;
			}
			&:last-of-type {
				flex-grow:1;
			}
		}

		&:last-of-type span {
			border-right:solid 2px var(--wp--preset--color--sand-main); 

		}
	}

	.coordonnees {
		margin-right: 7rem;
	}

	p.adresse {
		line-height: 1.8;
		margin-bottom: 0;
	}

	.liens {
		strong, a {
			line-height: 1.8;
		}
	}
	.nav-social {
		--size: 2rem;
		--space: 0.8rem;
		margin-bottom: 0.8rem;

		ul {
			justify-content: flex-start;
			width: unset;

			li a {
				background-size: calc(100% * 11/44);
				&[href*="insta"] {
					background-size: calc(100% * 21/44);
				}
				&[href*="soundcloud"] {
					background-size: calc(100% * 24/44);
				}
			}
		}
	}

	.copyright {
		font-weight: 400;
		margin-top: 2rem;
		text-transform: uppercase;
	}
	@include bp(md) {
		.footer-top {
			justify-content: space-between;
		}
	}
	@media screen and (min-width:1250px) {
		--largeur-logo:12rem;

		padding: 3.4rem var(--padding-x) 5.4rem;


		.footer-top {
			margin-bottom: 2.8rem;
		}
		.main-footer {
			display: grid;
			grid-template-columns: 20rem 1fr;
		}
		.coordonnees {
			grid-column: 1;
			grid-row: 1;
			font-size: 1.6rem;
			margin-right: 0;
		}
		.horaires-wrap {
			grid-column: 2;
			grid-row: 1;
			justify-self: end;
			margin-top: 0;
			overflow: unset;
			width:calc(9.5rem * 7);
			
			p strong {
				font-size: 2.4rem;
			}
		}
		
		.liens {
			align-items: center;
			display: flex;
			flex-basis:100%;
			grid-column: 1 / span 2;
			grid-row: 2;
			justify-content: flex-end;
			margin-bottom: 4.6rem;
			
			strong {
				font-size: 2.4rem;
				margin-right: 7rem;
			}
			a {
				font-size: 1.6rem;
			}
		}
		.nav-social {
			--size: 4.4rem;
			--space: 3.4rem;
			margin-bottom: 0 ;
			margin-right: 7rem ;
			width:unset;
		}

		.copyright {
			font-size: 1.6rem;
		}
	}


}