/*--------------------------------------------------------------
## Footer
--------------------------------------------------------------*/


.site-footer {
	background-color: var(--wp--preset--color--sand-50);
	color: var(--wp--preset--color--noir);
	padding: 1.6rem var(--padding-x) 2.8rem;
	position: relative;

	--largeur-logo:8rem;


	 strong {
		font-weight: 600;
	}
	.footer-top {
		display: flex;
	}

	.logo-footer {
		flex:0 0 var(--largeur-logo);
		margin-right: 2.4rem;
	}

	.main-footer {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		strong {
			font-size: 1.6rem;
		}
	}
	.horaires-wrap {
		flex-basis:100%;
		margin-top:2rem;
		margin-bottom: 2rem;
		overflow: auto;
		padding-bottom: 2rem;
		p {
			margin-bottom: 0.5em;
		}
	}
	.horaires {
		display: flex;
	}
	.horaire {
		display: flex;
		flex: 0 0 9.5rem;
		flex-direction: column;
		strong, span {
			display: inline-block;
			text-align: center;
			width:100%;

		}
		span {
			border-left:solid 2px var(--wp--preset--color--sand-main); //TODO vérifier couleur
			text-transform: uppercase;
			&.info {
				padding:1em 1ch;
			}
			&:first-of-type {
				padding-top: 0.5em;
			}
			&:last-of-type {
				flex-grow:1;
			}
		}
	}

	p.adresse {
		line-height: 1.8;
		margin-bottom: 0;
	}
	.copyright {
		font-weight: 400;
		margin-top: 2rem;
	}
	
	@include bp(sm) {
		.colonnes-footer {
			display: grid;
			grid-template-columns: repeat(2,1fr);
			column-gap: 2rem;
		}
		.col:nth-of-type(3) {
			grid-column: 1 / span 2;
		}
	}
	.nav-social {
		ul {
			justify-content: flex-start;
		}
		//TODO taille et espacement des pictos + padding left du bloc liens
	}
	@include bp(md) {
		
		.colonnes-footer {
			display: flex;
			justify-content: space-around;
		}
		
	}

	a {
		color: var(--wp--preset--color--noir);

		&:hover,
		&:focus {
			text-decoration: underline;
		}

	}


	.menu {
		li {
			margin-bottom: 0.4rem;

			a {
				font-weight: 700;
			}
		}
	}

	

	.copyright {

		text-transform: uppercase;

		span,
		a {
			color: var(--wp--preset--color--noir);
			display: inline-block;
		}
	

		
	}

}