/*--------------------------------------------------------------
## Site header
--------------------------------------------------------------*/
.site-header {
	--taille-logo:3.3rem;
	
	align-items: center;
	background-color: var(--wp--preset--color--sand-main);
	display: flex;
	height:var(--header-height);
	padding: 8px var(--padding-x-header);
	position: relative;
	z-index:10;

	a.resa.mobile {
		line-height: 1;
		margin-bottom: 0;
		margin-right: 32px;
	}
	&.volet-ouvert {
		a.resa.mobile {
			display: none;
		}
	}
	.menu-toggle {
		position: relative;
	}

	

	@include bp(md) {
	}
	@include bp(lg) {
		--taille-logo:8rem;
		flex-direction: column;
		height:auto;
		padding:20px var(--padding-x-header) 10px;
		a.resa.mobile {
			display: none;
		}

		.logo-header {
			flex-basis:unset;
			margin-left: auto;
			margin-right: auto;
			max-width:var(--taille-logo);
		}

	}

}

.logo-header {
	flex:0 0 var(--taille-logo);
	margin-right: auto;
}


//Header sticky toutes tailles d'écran
.site-header.js-sticky {
	//box-shadow: 0 3px 3px rgba(18,75,90,0.2);
	position:fixed;
	left: 0;
	top: 0;
	width:100%;

	@include bp(xxl) {
		left:calc((100vw - var(--largeur-max))/2);
		width:var(--largeur-max);
	}
}

#wpadminbar {
	position: fixed;
}
.admin-bar .site-header.js-sticky {
	top:46px;
	@include bp(md) {
		top:32px;
	}
}

/*--------------------------------------------------------------
## Ancre pour backtotop
--------------------------------------------------------------*/
#main-content {
	position: relative;
}
#haut-page {
	position: relative;
	top:-200px;
}
/*--------------------------------------------------------------
## Entry-header
--------------------------------------------------------------*/
.page-banniere {	
	height:var(--hauteur-banniere);
	overflow: hidden;
	margin: 0 auto;
	position: relative;	
	max-width:var(--largeur-max);
	width:100%;
	img {
		height:100%;
		left:0;
		position: absolute;
		top:0;
		width:100%;
	}
}

.entry-title {
	text-align: center;
}

