
.single-title {
	align-items: flex-start;
	display: flex;
	margin: 0;
	&::before {
		flex-basis:3.6rem;
		flex-grow:0;
		flex-shrink: 0;
		top:0;
	}
}
.single-date {
	color:var(--wp--preset--color--secondaire);
	margin-bottom: 3rem;
	padding-left: 4.2rem;
}

.single-post {
	div.entry-content {
		padding-bottom: var(--margin-y-1);
		padding-top: var(--margin-y-1);
	}
	.thumbnail {
		margin-bottom: var(--margin-y-1);
		img {
			margin:0 auto;
		}
	}
	.retour {
		@include fs(20);
		text-align: center;
	}
	@include bp(md) {
		.entry-content {
			display: grid;
			column-gap: 40px;
			grid-template-columns: 1fr 1fr;

		}
		
		.retour {
			grid-column: 1 / span 2;
			margin-top: var(--margin-y-1);
		}
		
		&.no-thumbnail {
			.entry-content {
				display: block;
			}
		}
	}

	@include bp(lg) {
		.entry-content {
			grid-template-columns: 60% 40%;
		}
	}
	
}