.single {
	--padding-v:2.4rem;
	--trait:calc(100% - 2 * var(--padding-x-single) );
	--bouton-fb:3.5rem;
	--margin-v:4px;
	--margin-v2:8px;


	@include bp(lg) {
		--padding-v:4rem;
		--trait:20rem;
		--bouton-fb:5.2rem;
	}

	.entry-header, .entry-content {
		background-color: rgba(255,252,233,0.25);
	}
	
	.single-top-wrap {
		padding:var(--padding-v) var(--padding-x-single);
		position: relative;
		&::after {
			background-color: var(--wp--preset--color--jaune-400);
			bottom:0;
			content:' ';
			height:6px;
			left:var(--padding-x-single);
			position:absolute;
			width:var(--trait);
		}
		
	}
	.single-title {
		font-size: 3.2rem;
		@supports(font-size: clamp(1rem,1vw,2rem)) {
			font-size: clamp(3.2rem, 2.77vw, 4rem);
		}
		font-family: var(--font-texte);
		font-weight: 700;
		margin-bottom: var(--margin-v);
		text-transform: unset;
	}
	.sous-titre {
		font-size: 1.6rem;
		font-weight: 700;
		margin-bottom: var(--margin-v);
	}
	.intro {
		font-size: 1.4rem;
		margin-bottom: 0;
	}

	.entry-content {


		border-bottom:solid 6px var(--wp--preset--color--jaune-400);
		padding:var(--padding-v) var(--padding-x-single);

		//Tailles des textes et des titres adaptées

		font-size: 1.4rem;
		font-weight: 400;

		h2, .h2 {
			font-family: var(--font-texte);
			font-size: 2.4rem;
			font-weight: 700;
			line-height: 1.2;
			margin-bottom: var(--margin-v);
			text-transform: unset;
		}

		h3, .h3 {
			font-size: 1.6rem;
			font-weight: 700;
			margin-bottom: var(--margin-v2);
			text-transform: unset;
		}

		.wp-block-image {
			margin-bottom: var(--margin-v2);
			img {
				border-radius: 16px;
			}
		}

		@include bp(lg) {
			.wp-block-image {
				&.alignleft {
					float: left;
					margin:0 1.6rem 0 -1.6rem;
					max-width: 50%;
				}
			}
			p, ul {
				margin-bottom: 2.4rem;
			}
		}

	
	}
	.liens-single {
		align-items: center;
		display: flex;
		justify-content: space-between;
		padding:var(--padding-v) var(--padding-x-single);
		.label {
			flex-shrink:1;
			font-size: 1.6rem;
		}
		.partage {
			display: flex;
			flex-shrink: 0;
			justify-content: flex-end;
			margin-left: 2.4rem;
		}
		.bouton.secondaire {
			margin-bottom: 0;
			padding:6px 8px 8px;
		}
		.copier {
			font-size:1.6rem;
			margin-right: 1.6rem;
			.picto {
				margin-right: 4px;
			}
			.apres {
				display: none;
			}
		}
		.facebook {
			align-items: center;
			display: flex;
			height:var(--bouton-fb);
			justify-content: center;
			width:var(--bouton-fb);
		}
	}
	.form {
		background-color: var(--wp--preset--color--citron-200);
		box-shadow: 5px 6px 10px rgba(120, 107, 78, 0.2);
		border-radius: 16px;
		margin:0 var(--padding-x) var(--padding-v);
		padding:2.4rem;
		p {
			margin: 0;
		}
		p.fs-16 {
			font-size: 1.6rem;
		}
		p.fs-14 {
			font-size: 1.4rem;
			margin-bottom: 3.6rem;
		}
		.forminator-ui.forminator-design--default {
			.forminator-textarea,
			.forminator-input,
			.upload {
				background-color: #fff !important;
			}
		}

		@include bp(md) {
			padding:4rem;
		}

		@include bp(lg) {
			--p:clamp(4rem,5.5vw,8rem);
			padding:var(--p) var(--p) 4rem;
		}
	}

	@include bp(lg) {
		.single-top-wrap::after {
			left:calc(var(--padding-x-single) - 1.6rem);
		}
		.entry-content {
			border-bottom: none;
			position: relative;
			&::after {
				background-color: var(--wp--preset--color--jaune-400);
				bottom:0;
				content:' ';
				height:6px;
				left:calc(var(--padding-x-single) - 1.6rem);
				position:absolute;
				width:calc(100% - 2* var(--padding-x-single) + 2 * 1.6rem);
			}
		}
		.liens-single {
			background-color: rgba(255,252,233,0.25);
			margin-bottom: 4rem;
			padding-bottom: 6.4rem;
			.label {
				font-size: 2.4rem;
			}
			.copier .picto {
				margin-right: 1rem;
			}
		}
		
	}
}