@import "./././sass/abstracts/variables-et-mixins";

.home-carte {
	@include bleed-ohm;
	min-height:35rem;
	position:relative;

	a.bouton.primaire {
		font-size: 1.2rem;
		font-weight: normal;
	}

	.vers-carte.desktop {
		display: none;
	}

	.slide {
		background-color: #fff;
		opacity:1;
		padding:4rem 12.7% ;
		transition: opacity var(--transition);

		height:100%;
		left: 0;
		position: absolute;
		top:0;
		width:100%;

		&.slide-0 {
			z-index:1;
		}

		&.slide-1 {
			opacity: 0;
			z-index:0;
			pointer-events: none;
		}

		.image {
			height:100%;
			left: 0;
			opacity:0.5;
			position: absolute;
			top:0;
			width:100%;
			img {
				height: 100%;
				object-fit: cover;
				width: 100%;
			}
		}
		.titre-slide, .texte, .bouton {
			position: relative;
		}

		.titre-slide {
			background-color:rgba(248, 241, 224, 0.75);
			display: inline-block;
			font-size: 5rem;
			line-height: 1.2;
			padding:0 10px 0 0;
			margin-bottom: 1.6rem;
		}

		.highlight {
			--fond:rgba(248, 241, 224, 0.95);
			background-color: var(--fond);
			box-decoration-break: clone; //pour que box-shadow soit appliqué à chaque ligne
			box-shadow: 1.5em 0 0 var(--fond);
			line-height: 1.4;
		}

		.texte {
			margin-bottom: 2.8rem;
		}

		
		
	}

	.dots {
		--dot-color:var(--wp--preset--color--orange-400);
		bottom:2.6rem;
		display: flex;
		gap:0.8rem;
		justify-content: center;
		left:0;
		position: absolute;
		width:100%;
		z-index: 2;
	}
	.dot {
		border:solid 2px var(--dot-color);
		border-radius:50%;
		height:1.6rem;
		width:1.6rem;

		transition: background-color var(--transition);

		&.dot-0 {
			background-color: var(--dot-color);
		}
	}

	&.js-toggle-slide {
		.slide {
			&.slide-0 {
				opacity: 0;
				z-index:0;
				pointer-events: none;
			}
			&.slide-1 {
				opacity: 1;
				pointer-events: unset;
				z-index:1;
			}
		}
		.dot {
			&.dot-0 {
				background-color: transparent;
			}
			&.dot-1 {
				background-color: var(--dot-color);
			}
		}
	}

	@include bp(lg) {
		--pad-top:clamp(4rem,16vw,22.8rem);
		min-height:66.4rem;
		position: relative;
		.dots {
			display: none;
		}
		.toggle-zones {
			height:100%;
			position: absolute;
			left:0;
			top:0;
			width:100%;
			z-index: 1;
			& > div {
				height:100%;
				position: absolute;
				top:0;
				width:33%;
			}
			.zone-0 {
				left:0;
			}
			.zone-1 {
				right:0;
			}
		}

		
		.slide {
			.image {
				width:33%;
				&:hover {
					opacity: 1;
				}
			}

			.titre-slide {
				background-color: transparent;
				font-size: 9rem ;
			}

			.highlight {
				--fond:transparent;
			}

			.texte {
				font-size: 2.4rem;
			}

			&::after {
				background-image: url('fleche-courbe.png');
				background-repeat: no-repeat;
				background-position: center;
				background-size: contain;
				content:' ';
				display: block;
				height:25rem;
				position:absolute;
				width:30rem;
			}

			&.boire {
				padding-left:45%;
				padding-right: 10%;
				padding-top: clamp(4rem,7vw,10rem);
				pointer-events: none;

				&::after {
					top:calc(60% + 5rem);
					left:calc(33% - 10rem);
					transform:rotateZ(180deg);
				}
			}

			&.manger {
				padding-left:10%;
				padding-right: calc(33% + 8px);
				padding-top: var(--pad-top);
				.image {
					left:unset;
					right:0;
				}

				&::after {
					top:calc(var(--pad-top) - 18rem);
					right :calc(33% + 2rem);
				}
			}
		}

		.vers-carte.mobile {
			display: none;
		}

		a.bouton.primaire {
			font-size: 2.4rem;
			font-weight: 700;
			transition: unset;
		}
		.vers-carte.desktop {
			display: block;
			position: absolute;
			right :calc(33% - 9rem);
			top:calc(var(--pad-top) - 1rem);
			z-index: 2;
		}

		&.js-toggle-slide {
			.vers-carte.desktop {
				left :calc(30% - 12rem);
				right:unset;
				top:60%;
			}
		}
	}

	@media screen and (min-width:1250px) {
		.slide {
			&.boire {
				&::after {
					top:calc(60% + 2rem);
					left:calc(33% - 5rem);
				}
			}
			&.manger {
				padding-left:22%;
			}
		}
	}
}