@import "./././sass/abstracts/variables-et-mixins";

.agenda {
	.row {
		align-items: center;
		display: flex;
		justify-content: space-between;
	}
	.titre-section {
		font-family: var(--font-texte);
	}

	#past-events {
		display: none;
	}
	#toggle-events-wrap {
		align-items: center;
		border-top:solid 1px transparent;
		border-bottom: solid 1px var(--wp--preset--color--sand-900);
		display: flex;
		height:5.4rem;
		justify-content: center;
		//transition: all var(--transition) ;
		width: 100%;

		&.toggled {
			border-bottom-color: transparent;
			border-top-color: var(--wp--preset--color--sand-900);;
		}
	}
	#toggle-events {
		align-items: center;
		border:none;
		color:	var(--wp--preset--color--sand-900);

		display: flex;
		.cacher {
			display: none;
		}
		&[aria-expanded="true"] {
			.afficher {
				display: none;

			}
			.cacher {
				display: block;
			}

			.picto {
				transform: rotateX(180deg);
			}
		}

		.picto {
			margin-left: 4rem;
			//transition:transform var(--transition);
		}

		@include bp(lg) {
			font-size: 2.4rem;
		}
	}

	@include bp(lg) {
		padding-top: 1rem;
	}


} 