@import "./././sass/abstracts/variables-et-mixins";

.lieu {
	@include bleed-ohm;
	background-color: var(--wp--preset--color--sand-50);
	padding:2.4rem var(--padding-x-single) 3.2rem;
	position:relative;
	transform: translateX(calc(-1*var(--padding-x-single)));
	width: calc(100% + 2*var(--padding-x-single));
	
	
	.titre-col {
		font-family: var(--font-titre);
		font-size: 3rem;
		@supports(font-size: clamp(1rem,1vw,2rem)) {
			font-size: clamp(3rem,4.86vw,7rem);
		}
	}
	.col {
		padding:0 0.8rem;
	}
	.col-1 {
		margin-bottom: 3.2rem;
	}
	.col-2 {
		margin-bottom: 4rem;
	}
	.col-1, .col-2 {
		.texte {
			font-size: 1.6rem;
		}
	}
	#toggle-priv-wrap {
		display: flex;
		justify-content: flex-end;
		margin-top: 4px;

		.picto {
			margin-left: 2.5rem;
			width:0.8rem;
		}

		[aria-expanded="true"] {
			.picto {
				transform: rotateX(180deg);
			}
		}
		
	}
	.priv-panel {
		display: none;
		position: relative;
		&::before {
			background: var(--wp--preset--color--jaune-400);
			content:'';
			display: block;
			height:6px;
			left:1.6rem;
			position: relative;
			top:0;
			width:calc(100% - 3.2rem);
		}

		.titre-col {
			margin-bottom: 1.6rem;
			padding-top:3.2rem;

		}

		p {
			font-size: 1.4rem;
		}
	}

	h4 {
		letter-spacing: 0.24em;
	}

	.fond-blanc {
		background-color: #fff;
		box-shadow: 5px 6px 10px rgba(120, 107, 78, 0.2);
		border-radius: 16px;
		padding:1rem;
	}


	.image {
		margin-bottom: 8px;
		&.desktop {
			display: none;
		}
		img {
			border-radius: 16px;
			width: 100%;
		}

	}

	.pdf {
		margin-bottom: 2.8rem;
		h4 {
			margin-bottom: 8px;
		}
		a.bouton.secondaire {
			display: inline-flex;
		}
		.picto {
			flex:0 0 16px;
			margin-right: 0.8rem;
			width:16px;
		}
	}

	.form {
		border-top: 1px dashed #D18300;
		@include border-custom; 
		padding-top:2.4rem;
	}




	@include bp(sm) {
		.image {
			max-width:50rem;
			margin:0 auto;
		}
	}


	@include bp(md) {
		--gap:4rem;
		column-gap :var(--gap);
		display:grid;
		grid-template-columns: 1fr 1fr;
		padding-bottom:var(--gap);
		padding-top:var(--gap);
		.col {
			padding:0;
		}
		.priv-panel {
			grid-column: 1 / span 2;
			&::before {
				left:0;
				width:20rem;
			}
		}
		.fond-blanc {
			display: flex;
			flex-direction: row-reverse;
			gap:var(--gap);
			padding:var(--gap);
		}
		.pdf, .form {
			flex-basis:50%;
			h4 {
				font-size: 2.4rem;
			}
		}
		.pdf {
			align-items: flex-start;
			display: flex;
			flex-direction: column;
			margin-bottom: 0;
			h4 {
				margin-bottom: 1.6rem;
				order:1;
			}
			p {
				order:2;
			}

			a {
				order:4;
				margin-bottom: 0;
			}

		}
		.image {
			margin-bottom: 1.6rem;
			max-width: unset;
			order:3;
			&.mobile {
				display: none;
			}
			&.desktop {
				display: block;
			}
		}

		.form {
			border-top:none;
			padding-top:0;
			h4, p {
				margin-bottom: 3.2rem;
			}
		}
		
	}

	@include bp(lg) {
		.pdf, .form {
			h4 {
				font-size: 3.2rem;
			}
		}

		#toggle-priv-wrap {
			.picto {
				margin-left: 1.6rem;
				width:1.2rem;
			}
		}

		.priv-panel p {
			font-size: 1.6rem;
		}
		
	}
	@include bp(xl) {
		--gap:8rem;
	}
}