.lieu {
  width: calc(100% + 2 * var(--padding-x));
  transform: translateX(calc(-1 * var(--padding-x)));
  background-color: var(--wp--preset--color--sand-50);
  padding: 2.4rem var(--padding-x) 3.2rem;
  position: relative;
}
.lieu .titre-col {
  font-family: var(--font-titre);
}
.lieu .col {
  padding: 0 0.8rem;
}
.lieu .col-1 {
  margin-bottom: 3.2rem;
}
.lieu .col-2 {
  margin-bottom: 4rem;
}
.lieu #toggle-priv-wrap {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
}
.lieu #toggle-priv-wrap .picto {
  margin-left: 2.5rem;
  width: 0.8rem;
}
.lieu .priv-panel {
  position: relative;
}
.lieu .priv-panel::before {
  background: var(--wp--preset--color--jaune-400);
  content: "";
  display: block;
  height: 6px;
  left: 1.6rem;
  position: relative;
  top: 0;
  width: calc(100% - 1.6rem);
}
.lieu .priv-panel .titre-col {
  margin-bottom: 1.6rem;
  padding-top: 3.2rem;
}
.lieu .fond-blanc {
  background-color: #fff;
  box-shadow: 5px 6px 10px rgba(120, 107, 78, 0.2);
  border-radius: 16px;
  padding: 1rem;
}
.lieu .image {
  margin-bottom: 8px;
}
.lieu .image.desktop {
  display: none;
}
.lieu .image img {
  border-radius: 16px;
  width: 100%;
}
.lieu .pdf {
  margin-bottom: 2.8rem;
}
.lieu .pdf h4 {
  margin-bottom: 8px;
}
.lieu .pdf a.bouton.secondaire {
  display: inline-flex;
}
.lieu .pdf .picto {
  margin-right: 0.8rem;
}
.lieu .form {
  border-top: 1px dashed #D18300;
  border-image-source: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%23D18300FF' stroke-width='2' stroke-dasharray='18%2c 12' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
  border-image-slice: 1;
  border-image-repeat: round;
  padding-top: 2.4rem;
}
@media (min-width: 500px) {
  .lieu .image {
    max-width: 50rem;
    margin: 0 auto;
  }
}
@media (min-width: 768px) {
  .lieu .texte-wrap {
    align-items: center;
    column-gap: 3.2rem;
    display: flex;
    justify-content: flex-end;
    padding-bottom: 4rem;
  }
  .lieu .texte-wrap .texte {
    flex-basis: 50%;
  }
  .lieu .texte-wrap h2.titre-section {
    flex-basis: 30rem;
    text-align: right;
    margin-bottom: 0;
  }
  .lieu .image {
    height: unset;
    max-width: unset;
  }
  .lieu .image.mobile {
    display: none;
  }
  .lieu .image.desktop {
    display: block;
  }
}
@media (min-width: 960px) {
  .lieu {
    margin-top: -4rem;
  }
  .lieu .texte-wrap {
    align-items: flex-end;
  }
}