@import "./././sass/abstracts/variables-et-mixins";

.home-lieu {
	--padding-v:2.4rem;
	@include bleed-ohm;
	background-color: var(--wp--preset--color--marron-100);;
	padding:var(--padding-v) calc(var(--padding-x) + 2.1rem);
	.galerie {
		border-radius: 16px;
		overflow: hidden;
		position:relative;
	}
	.galerie-1 {
		height:38rem;
		margin-bottom: 2.4rem;
	}
	.galerie-2 {
		height:30rem;
		margin-bottom: 8px;
	}
	.image {
		height:100%;
		left:0;
		opacity: 0;
		position:absolute;
		top:0;
		transition: opacity var(--transition);
		width:100%;
		z-index:0;
		img {
			height: 100%;
			object-fit: cover;
			width:100%;
		}

		&.visible {
			opacity: 1;
			z-index:1;
		}
	}
	.plus-wrap {
		display: flex;
		justify-content: flex-end;
	}

	@include bp(md) {
		--padding-v:4rem;
		column-gap: 2.4rem;
		display: grid;
		grid-template-columns: 1fr 2fr;
		grid-template-rows: 30rem 5.2rem;
		row-gap: 2.8rem;

		.galerie {
			margin-bottom: 0;
			height:100%;
			width:100%;
		}

		.galerie-2 {
			grid-column: 2;
			grid-row: 1 / span 2;
		}

		.plus-wrap {
			grid-column: 1;
			grid-row: 2;
		}
	}

	@include bp(lg) {
		--padding-v:8rem;
		padding:var(--padding-v) calc(var(--padding-x-single) + 2.1rem);
	}
}